{
  "BOT_TOKEN": "BOT_TOKEN_ANDA",
  "USER_ID": "CHAT_ID_ANDA",
  "ADMIN_USERNAME": "ADMIN_USERNAME_ANDA",
  "GROUP_ID": "GROUP_ID_ANDA",
  "NAMA_STORE": "NAMA_STORE_ANDA",
  "PORT": "50123",
  "DATA_QRIS": "DATA_QRIS_ANDA_(dana_bisnis_dll)",
  "MERCHANT_ID": "MERCHANT_ID_ANDA_MIDTRANS_ANDA",
  "SERVER_KEY": "SERVER_KEY_MIDTRANS_ANDA",
  "PAKASIR_SLUG": "SLUG_PROYEK_PAKASIR_ANDA",
  "PAKASIR_API_KEY": "API_KEY_PAKASIR_ANDA"
}
